<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学生管理システム</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
</head>

<body>
<div id="app">

    <!--検索フォーム-->
    <el-form :inline="true" :model="student" class="demo-form-inline">

        <el-form-item label="学生ID">
            <el-input v-model="pojoByCondition.studentId" placeholder="学生ID"></el-input>
        </el-form-item>

        <el-form-item label="学生氏名">
            <el-input v-model="pojoByCondition.studentName" placeholder="学生氏名"></el-input>
        </el-form-item>

        <el-form-item label="科目">
            <el-select v-model="pojoByCondition.subjectName" clearable placeholder="科目名称を選択してください">
                <el-option v-for="item in this.courseWithScoreMessage.items" :key="item.courseId"
                           :label="item.courseName" :value="item.courseName">
                </el-option>
            </el-select>
        </el-form-item>
        <el-input v-model="pojoByCondition.minScore" placeholder="スコア" maxlength="3" style="width:66px"></el-input>
        <nobr> ~</nobr>
        <el-input v-model="pojoByCondition.maxScore" placeholder="スコア" maxlength="3" style="width:66px"></el-input>

        <el-form-item>
            <el-button type="success" @click="clear" plain>クリア</el-button>
            <el-button icon="el-icon-search" type="primary" round="true" @click="selectAllByPages"></el-button>
        </el-form-item>
    </el-form>

    <!--ボタン-->
    <el-row>

        <el-button type="danger" plain round="true" @click="deleteByIds">一括削除</el-button>
        <el-button type="primary" plain round="true" @click="addStudent">追加</el-button>
        <el-button type="primary" plain round="true" @click="exportExcel">Excelにエクスポート（学生データ）</el-button>
    </el-row>

    <!--データ追加ダイアログフォーム-->
    <el-dialog title="学生追加" :visible.sync="dialogVisible" width="50%">
        <el-card>
            <div slot="header">情報</div>
            <el-form ref="form3" :model="studentAdd" label-width="80px" :rules="rules">
                <el-form-item label="学生ID" prop="studentId">
                    <el-input v-model="studentAdd.studentId"></el-input>
                </el-form-item>

                <el-form-item label="氏名" prop="studentName">
                    <el-input v-model="studentAdd.studentName"></el-input>
                </el-form-item>

                <el-form-item label="性別" prop="studentGender">
                    <el-radio-group v-model="studentAdd.studentGender">
                        <el-radio label="男"></el-radio>
                        <el-radio label="女"></el-radio>
                    </el-radio-group>
                </el-form-item>

                <el-form-item label="生年月日" prop="studentBirth">
                    <el-col :span="11">
                        <el-date-picker type="date" placeholder="日付を選択"
                                        v-model="studentAdd.studentBirth" style="width: 100%;"></el-date-picker>
                    </el-col>
                </el-form-item>

                <el-form-item label="電話番号" prop="studentTel">
                    <el-input v-model="studentAdd.studentTel"></el-input>
                </el-form-item>

                <el-form-item label="住所" prop="studentAdress">
                    <el-input type="textarea" v-model="studentAdd.studentAdress"></el-input>
                </el-form-item>
            </el-form>
        </el-card>
        <el-card>
            <div slot="header">単位数</div>
            <el-form ref="form4" :model="courseWithScoreMessage">
                <!--拡張性を考慮して、科目名はループでフォームに追加する-->
                <el-form-item v-for="(course, index) in courseWithScoreMessage.items" :key="index"
                              :label="course.courseName+`\(${course.courseId}\)`"
                              :prop="'items.'+index+'.score'"
                              :rules="rules.subjectScore">
                    <el-input v-model="course.score"></el-input>
                </el-form-item>
            </el-form>
            <el-button type="primary" @click="submitInsert">提出</el-button>
            <el-button @click="dialogVisible=false">キャンセル</el-button>
        </el-card>

    </el-dialog>

    <!--表格-->
    <template>
        <el-table :data="tableData" style="width: 100%" @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column type="index" width="50">
            </el-table-column>

            <el-table-column prop="studentId" label="学生 ID" align="center">
            </el-table-column>
            <el-table-column prop="studentName" label="名前" align="center">
            </el-table-column>
            <el-table-column prop="studentGender" align="center" label="性別">
            </el-table-column>
            <el-table-column prop="studentBirth" align="center" label="誕生日">
            </el-table-column>
            <el-table-column prop="studentTel" align="center" label="電話">
            </el-table-column>
            <el-table-column prop="studentAdress" align="center" label="住所">
            </el-table-column>
            <el-table-column prop="scores" align="center" label="各科目の単位数">
                <template slot-scope="scope">
                    <div v-for="score in scope.row.scores">
                        {{ score.course.courseName }}：{{ score.subjectScore }}
                    </div>
                </template>
            </el-table-column>

            <el-table-column align="center" label="操作">

                <template slot-scope="scope">
                    <el-row>
                        <el-button type="primary" round="true" @click="startEdit(scope.row)">編集</el-button>
                        <br>
                        <el-button type="danger" round="true" @click="deleteById(scope.row)">削除</el-button>
                    </el-row>
                </template>

            </el-table-column>

        </el-table>
    </template>

    <!-- 編集フォーム -->
    <el-dialog title="編集" :visible.sync="editDialogVisible" width="50%">
        <template slot-scope="scope"> <!-- 編集するスコープ -->
            <el-card>
                <div slot="header">学生情報</div>
                <el-form ref="form1" :model="student" label-width="80px" :rules="rules">
                    <el-form-item label="学生 ID" prop="studentId">
                        <el-input v-model="student.studentId" :disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="名前" prop="studentName">
                        <el-input v-model="student.studentName"></el-input>
                    </el-form-item>
                    <el-form-item label="性別" prop="studentGender">
                        <el-radio-group v-model="student.studentGender">
                            <el-radio label="男"></el-radio>
                            <el-radio label="女"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="誕生日" prop="studentBirth">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="日付を選択してください" v-model="student.studentBirth"
                                            style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="電話番号" prop="studentTel">
                        <el-input v-model="student.studentTel"></el-input>
                    </el-form-item>
                    <el-form-item label="住所" prop="studentAdress">
                        <el-input type="textarea" v-model="student.studentAdress"></el-input>
                    </el-form-item>
                </el-form>
            </el-card>
            <el-card>
                <div slot="header">単位数</div>
                <el-form ref="form2" :model="student">
                    <!--拡張プログラムを容易にするために科目名はループでフォームに追加されます-->
                    <el-form-item v-for="(score, index) in student.scores" :key="index"
                                  :label="score.course.courseName"
                                  :prop="'scores.' + index + '.subjectScore'"
                                  :rules="rules.subjectScore">
                        <el-input v-model="score.subjectScore"

                        ></el-input>
                    </el-form-item>
                </el-form>
                <el-button type="primary" @click="submitEdit">提出</el-button>
                <el-button @click="editDialogVisible=false">キャンセル</el-button>
            </el-card>
        </template>
    </el-dialog>

    <!--ページングツールバー-->
    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="curPage"
                   :page-sizes="[5, 10, 15, 20]" :page-size="5" layout="total, sizes, prev, pager, next, jumper"
                   :total="totalCount">
    </el-pagination>

</div>


<script>
    new Vue({
        el: "#app",

        mounted() {
            //页面加载后查询全部（默认是每页面5条数据）
            this.selectAllByPages();
            //调用后端查询科目的语句
            axios.get("/courseNames").then(resp => {
                //如果查询成功
                if (resp.data.code == 60041) {
                    //后端会返回一个json里面包含学科和学科id 这段代码的作用是将score附加上去，方便之后前端给后端传递
                    this.courseWithScoreMessage.items = resp.data.data.map(item => {
                            return {
                                ...item,
                                score: null
                            }
                        }
                    );
                    //console.log(this.courseWithScoreMessage.items)
                } else {
                    this.$message({
                        message: '科目情報の検索に失敗しました',
                        type: 'error'
                    })
                }
            })

        },

        methods: {
            selectAllByPages() {
                // 去掉输入内容的前后空格
                this.pojoByCondition.studentId = this.pojoByCondition.studentId.trim();
                this.pojoByCondition.studentName = this.pojoByCondition.studentName.trim();

                //表单校验

                // 判断学生ID是否为整数，如果不是，则给出提示信息
                if (isNaN(parseInt(this.pojoByCondition.studentId)) && this.pojoByCondition.studentId !== '') {
                    this.$message({
                        message: '整数型の学生IDを入力してください',
                        type: 'error'
                    });
                    return;
                }

                const minScore = parseFloat(this.pojoByCondition.minScore);
                const maxScore = parseFloat(this.pojoByCondition.maxScore);

                if (!isNaN(minScore) && !isNaN(maxScore)) {
                    if (minScore < 0 || minScore > 100 || maxScore < 0 || maxScore > 100) {
                        alert('最小スコアと最大スコアは0〜100の間で指定してください');
                        return;
                    }
                    if (minScore > maxScore) {
                        this.$message.error('最小スコアは最大スコアよりも大きくすることはできません');
                        return;
                    }
                } else {
                    if (this.pojoByCondition.minScore == '' && this.pojoByCondition.maxScore == '') {
                    } else {
                        alert('最小スコアと最大スコアは両方数値でなければなりません');
                        return;
                    }

                }

                axios({
                    method: "post",
                    url: "http://localhost:8080/students/condition?curPage=" + this.curPage +
                        "&pageSize=" + this.pageSize * this.courseNum,
                    data: {pojoByCondition: this.pojoByCondition}
                }).then(resp => {
                    this.tableData = resp.data.data.rowsStudents;
                    //设置总记录数
                    this.totalCount = resp.data.data.totalCount / this.courseNum;
                    //获取科目数量并返回给数据模型（其实这一步不用跟数据库查询 因为固定是三科目，但是为了方便程序扩展，进行了查询并赋值的操作）
                    this.courseNum = resp.data.data.courseNum;
                    this.$message({
                        message: `当前为第${this.curPage}页`,
                        type: "info"
                    })

                }).catch(error => {
                    //异常
                    this.$message({
                        message: 'リクエストが失敗しました、後でもう一度お試しください',
                        type: 'error'
                    })
                })

            },

            deleteById(row) {
                //将要被删除的学生ID传到数据模型
                this.student.studentId = row.studentId;
                this.$confirm('この操作はデータを削除します、続行しますか？', 'ヒント', {
                    confirmButtonText: '確認',
                    cancelButtonText: 'キャンセル',
                    type: 'warning'
                }).then(() => {
                    axios.delete("/students/" + row.studentId).then(resp => {
                        //60021是后端返回的删除成功的代码
                        if (resp.data.code == 60021) {
                            //删除成功 刷新页面
                            this.selectAllByPages();
                            this.$message({
                                message: '削除成功',
                                type: 'success'
                            });
                        } else {
                            //提示删除失败的消息
                            this.$message({
                                message: '削除に失敗しました',
                                type: 'error'
                            });
                        }

                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '削除をキャンセルしました。'
                    });
                }).finally(() => {
                    this.selectAllByPages();
                })
            },

            deleteByIds() {
                //如果没有选择数据
                if (this.multipleSelection.length === 0) {
                    this.$message({
                        type: 'info',
                        message: 'データが選択されていません'
                    });
                    return;
                }
                //確認ダイアログ表示
                this.$confirm('この操作はデータ削除を実行します、続行しますか？', 'ヒント', {
                    confirmButtonText: '確認',
                    cancelButtonText: 'キャンセル',
                    type: 'warning'
                }).then(() => {
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        let id = this.multipleSelection[i];
                        this.selectedIds[i] = id.studentId;
                    }
                    //批量删除URL
                    axios.delete("/students/Ids/" + this.selectedIds).then(resp => {
                        //60021是后端返回的删除成功的代码
                        if (resp.data.code == 60021) {
                            //删除成功 刷新页面
                            this.selectAllByPages();
                            this.$message({
                                message: '削除成功',
                                type: 'success'
                            });
                        } else {
                            //提示删除失败的消息
                            this.$message({
                                message: '削除に失敗しました',
                                type: 'error'
                            });
                        }

                    })
                    this.selectedIds=null;
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '削除をキャンセルしました。'
                    });
                }).finally(() => {
                    this.selectAllByPages();
                })
            },

            //提交按钮(把学生信息以及成绩信息提交到后端)
            submitInsert() {
                //表单校验
                Promise.all([
                    this.$refs['form3'].validate(),
                    this.$refs['form4'].validate()
                ]).then(results => {
                    const [valid1, valid2] = results;
                    if (valid1 && valid2) {
                        axios.post("/students", {
                            student: this.studentAdd,
                            scores: this.courseWithScoreMessage.items
                        }).then(resp => {
                            //插入成功
                            if (resp.data.code == 60011) {
                                this.dialogVisible = false;
                                //this.pojoByCondition=null;
                                //插入成功 刷新页面
                                this.selectAllByPages();
                                this.$message({
                                    message: '挿入に成功しました',
                                    type: 'success'
                                });
                                //挿入に成功したら、フォームをクリアする
                                this.studentAdd.studentAdress = '';
                                this.studentAdd.studentId = '';
                                this.studentAdd.studentName = '';
                                this.studentAdd.studentBirth = '';
                                this.studentAdd.studentGender = '';
                                this.studentAdd.studentTel = '';
                                for (let i = 0; i < this.courseWithScoreMessage.items.length; i++) {
                                    this.courseWithScoreMessage.items[i].score = '';
                                }
                            } else {
                                this.$message({
                                    message: '挿入に失敗しました、既に存在する学籍番号を入力しないでください、再度お試しください',
                                    type: 'error'
                                });
                            }

                        })

                    }
                }).catch(error => {
                    //表单校验失败
                    alert("情報を正しく入力してください、ありがとうございます！");

                });


            },
            submitEdit() {
                //对表单进行前端校验
                Promise.all([
                    this.$refs['form1'].validate(),
                    this.$refs['form2'].validate()
                ]).then(results => {
                    const [valid1, valid2] = results;
                    if (valid1 && valid2) {
                        // 校验通过，执行表单提交逻辑
                        axios.put("/students", {student: this.student}, {
                            headers: {
                                'Content-Type': 'application/json;' +
                                    'charset=UTF-8'
                            }
                        }).then(resp => {
                            //更新成功
                            if (resp.data.code == 60031) {
                                this.editDialogVisible = false;
                                //插入成功 刷新页面
                                this.selectAllByPages();
                                this.$message({
                                    message: 'アップデートが完了しました！',
                                    type: 'success'
                                });
                            } else {
                                this.$message({
                                    message: '更新に失敗しました、再度お試しください',
                                    type: 'error'
                                })
                            }

                        })
                    }
                }).catch(error => {
                    //表单校验失败
                    alert("情報を正しく入力してください、ありがとうございます！");
                });


                /*this.$refs['form'].validate((valid) => {
                    if (valid) {


                    } else {
                        // 校验失败，输出错误信息
                        alert("请将信息填写完整，thank you！");
                    }
                    this.$refs['form'].validate((valid) (() => {
                        // 校验通过，执行表单提交逻辑
                        axios.put("/students",{student:this.student},{headers: {'Content-Type': 'application/json;' +
                                    'charset=UTF-8'}}).then(resp => {
                            //更新成功
                            if (resp.data.code == 60031) {
                                this.editDialogVisible = false;
                                //插入成功 刷新页面
                                this.selectAllByPages();
                                this.$message({
                                    message: '更新成功！',
                                    type: 'success'
                                });
                            } else {
                                //
                            }

                        })
                    }).catch(error => {
                        // 校验失败，输出错误信息
                        alert("请将信息填写完整，thank you！");
                    });
                });*/


            },
            Excel() {
                if (this.selectedIds.length==0){
                    selectedIds = [];
                }
                axios.get("/excels/Ids/" + this.selectedIds, {
                    responseType: "blob"
                }).then(resp => {
                    if (resp.data.type === "application/vnd.ms-excel") {
                        this.$message({
                            message: "エクスポートに成功しました！",
                            type: 'success'
                        });
                        const url = window.URL.createObjectURL(new Blob([resp.data]));
                        const link = document.createElement("a");
                        link.style.display = "none";
                        link.href = url;
                        link.setAttribute("download", "選択された学生成績情報.xlsx");
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                        window.URL.revokeObjectURL(url);
                    }
                })
            },
            exportExcel() {
                try {
                    //如果没有选择数据
                    if (this.multipleSelection.length == 0) {
                        this.$confirm('すべての学生データがエクスボートされます、続行しますか？', 'ヒント', {
                            confirmButtonText: '確認',
                            cancelButtonText: 'キャンセル',
                            type: 'warning'
                        }).then(() => {
                            this.Excel();
                        })

                    } else {
                        //获取选择的数据
                        for (let i = 0; i < this.multipleSelection.length; i++) {
                            let id = this.multipleSelection[i];
                            this.selectedIds[i] = id.studentId;
                        }
                        this.Excel();
                        this.selectedIds=null;
                    }
                } catch {
                    this.$message({
                        message: "異常が発生しました、エクスポートが失敗しました",
                        type: 'error'
                    });
                }
            },

            startEdit(row) {
                try {
                    // 获取改行已经有的数据，以供填入修改框
                    //console.log(JSON.parse(JSON.stringify(row)));
                    this.student = JSON.parse(JSON.stringify(row));
                    // 弹出修改框
                    this.editDialogVisible = true;
                } catch {
                    this.$message({
                        message: '情報取得に失敗しました、再度お試しください ',
                        type: 'error'
                    })
                }
            },

            addStudent() {
                this.dialogVisible = true;
                //console.log(this.courseWithScoreMessage.items[0].score);
            },


            //当复选框数据被选中时
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },

            //当用户变化分页的页数或者改变，每页显示条数时
            handleSizeChange(val) {
                this.pageSize = val;
                this.selectAllByPages();

            },

            handleCurrentChange(val) {
                this.curPage = val;
                this.selectAllByPages();
            },
            //清空查询表单
            clear() {
                this.pojoByCondition.subjectName = '',
                    this.pojoByCondition.studentId = '',
                    this.pojoByCondition.studentName = '',
                    this.pojoByCondition.maxScore = '',
                    this.pojoByCondition.minScore = ''
            },

        },
        data() {
            return {
                //编辑和新增输入框校验规则
                rules: {
                    studentId: [
                        {required: true, message: '请输入学生ID', trigger: 'blur'},
                        {pattern: /^[0-9]*$/, message: '学生ID必须为数字', trigger: 'blur'}
                    ],
                    studentName: [
                        {required: true, message: '请输入姓名', trigger: 'blur'}
                    ],
                    studentGender: [
                        {required: true, message: '请选择性别', trigger: 'change'}
                    ],
                    studentBirth: [
                        {required: true, message: '请选择出生日期', trigger: 'change'}
                    ],
                    studentTel: [
                        {required: true, message: '请输入电话号码', trigger: 'blur'},
                        {pattern: /^[0-9]*$/, message: '电话号码必须为数字', trigger: 'blur'}
                    ],
                    studentAdress: [
                        {required: true, message: '请输入住址', trigger: 'blur'}
                    ],
                    subjectScore: [
                        /*{ required: true, message: '成绩不能为空', trigger: 'blur' },*/
                        {
                            pattern: /^[0-9]+([.]{1}[0-9]{1,2})?$/,
                            message: '请输入数字，最多保留两位小数',
                            trigger: 'blur'
                        },
                        {
                            pattern: /^(?:100|\d{1,2})(?:\.\d{1,2})?$/,
                            message: '成绩必须在0-100之间', trigger: 'blur'
                        }
                    ]
                },


                //科目总数量（会根据SQL动态变化）
                courseNum: 3,
                //共多少页（会根据SQL动态变化）
                totalCount: 5,
                // 当前页码
                curPage: 1,
                //每页显示条数
                pageSize: 5,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                // 编辑数据对话框是否展示的标记
                editDialogVisible: false,

                // 修改学生临时模型数据
                student: {
                    studentId: '加载中',
                    studentName: '加载中',
                    studentGender: '加载中',
                    studentBirth: "加载中",
                    studentTel: '加载中',
                    studentAdress: '加载中',
                    scores: [
                        {
                            "studentId": "0",
                            "courseId": "0",
                            "subjectScore": '',
                            "course": {
                                "courseId": "0",
                                "courseName": "0"
                            }
                        }
                    ]

                },
                //添加学生临时的模型数据
                studentAdd: {
                    studentId: '',
                    studentName: '',
                    studentGender: '',
                    studentBirth: "",
                    studentTel: '',
                    studentAdress: '',

                },
                ////添加学生成绩临时的模型数据
                courseWithScoreMessage: {
                    items: []
                },
                //查询表单的对应
                pojoByCondition: {
                    subjectName: '',
                    studentId: '',
                    studentName: '',
                    maxScore: '',
                    minScore: ''

                },


                //被选中的数组
                selectedIds: {},

                // 复选框选中数据集合
                multipleSelection: {},
                // 表格数据
                tableData: {
                    studentId: '加载中',
                    studentName: '加载中',
                    studentGender: '加载中',
                    studentBirth: "加载中",
                    studentTel: '加载中',
                    studentAdress: '加载中',
                    scores: [
                        {
                            "studentId": "",
                            "courseId": "",
                            "subjectScore": '',
                            "course": {
                                "courseId": "",
                                "courseName": ""
                            }
                        }
                    ]

                }


            }
        }
    })

</script>

</body>

</html>